@use "../base/base_functions" as OPFunction;

.h5p-order-priority-footer {
  background-color: #507AA4;
  color: white;
  padding: OPFunction.pxToRem(20px);
  display: flex;
  flex-direction: column;

  & > button {
    background-color: transparent;
    margin: OPFunction.pxToRem(5px);
    font-weight: bold;
  }

  .h5p-ri {
    margin-right: OPFunction.pxToRem(7px);
  }

  .h5p-medium-tablet-size &,
  .h5p-large-tablet-size &,
  .h5p-large-size &{
    flex-direction: row;
    align-items: center;
  }
}
