.h5p-order-priority-summary {

  display: flex;
  flex-flow: column;

  textarea {
    padding: 0.625rem;
    min-height: 5rem;
  }
}

.h5p-order-priority-description {
  flex-grow: 5;
  margin: 0 0.625rem 0.625rem 0;
}

.h5p-order-priority-summary-instruction {
  margin: 0 0 0.6rem 0;
}
