@use "@styles/base/base_extendors";

.h5p-order-priority-reset-modal {
  background-color: white;
  padding: 1rem;
  max-width: 85vw;
  display: inline-flex;
  flex-flow: column;

  .h5p-order-priority-reset-modal-buttons {
    padding: 0.8rem;

    .popover-button {
      cursor: pointer;
      font-weight: 600;
      font-size: inherit;

      &.continue {
        @extend %h5p-order-priority-button;
        color: #fff;
        background-color: #1f1f1f;
        margin-right: 1rem;

        &:hover,
        &:focus,
        &:active {
          color: #fff;
        }

        &:focus {
          background-color: #000000;
        }
      }

      &.cancel {
        border: 0;
        background-color: transparent;
        color: #2071e3;
      }
    }
  }
}

.h5p-order-priority-button-restart {
  @extend %h5p-order-priority-button;
  background-color: #507AA4;
  border: 2px solid #CCCCCC;

  &:hover,
  &:focus {
    background-color: #363636;
    color: inherit;
  }

  &:active {
    background-color: #000000;
    color: inherit;
  }
}
