@forward "base/base_variables";
@forward "base/base_extendors";
@forward "base/base_functions";
@use "base/base_extendors";
@use "base/base_functions" as OPFunction;

@forward "components/Main";
@forward "components/Surface";
@forward "components/Export";
@forward "components/Reset";
@forward "components/Placeholder";
@forward "components/Footer";
@forward "components/Summary";
@forward "components/StatementList";
@forward "components/StatementCommon";
@forward "components/Comment";
@forward "components/DragArrow";
@forward "components/Popover";
@forward "components/PriorityNumber";
@forward "components/AddStatement";
@forward "components/EditableStatement";

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display:block;
}

.h5p-order-priority {
  @extend %h5p-order-priority;
}

.h5p-order-priority-wrapper {
  textarea,
  input,
  button {
    font: inherit;
  }
}

.h5p-ri {
  font-weight: normal;
}

.visible-hidden {
  clip: rect(OPFunction.pxToRem(1px), OPFunction.pxToRem(1px), OPFunction.pxToRem(1px), 1px);
  height: OPFunction.pxToRem(1px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: OPFunction.pxToRem(1px);
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}

[hidden] {
  display: none;
}
