@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

$browser-context : 16;

@function em($pixels, $context: $browser-context) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

$h5pColor1: #1f71e8;
$h5pNumberBaseColor: #2880d0;
$borderRadius: em(5px);

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display:block;
}

.h5p-order-priority {
  font-family: "Open Sans", sans-serif;
}

.h5p-order-priority-surface {
  @extend .h5p-order-priority;
  margin: em(24px);
}

.h5p-order-priority-button {
  @extend .h5p-order-priority;
  border: 0;
  border-radius: em(90px);
  color: white;
  padding: 0.7em 1em;
  font-weight: bold;
}

.h5p-order-priority-button-restart,
.h5p-order-priority-button-export,
.h5p-order-priority-reset-modal .continue {
  @extend .h5p-order-priority-button;
  background-color: #1f1f1f;
  border: 2px solid #404040;

  &:hover {
    background-color: #363636;
    color: inherit;
  }

  &:focus {
    color: inherit;
  }

  &:active {
    background-color: #000000;
    color: inherit;
  }
}

.h5p-medium-tablet-size,
.h5p-large-tablet-size,
.h5p-large-size {

  &.h5p-order-priority-popover {
    width: 100%;
    max-width: em(500px);
  }

  .h5p-order-priority-number div {
    width: 2em;
    height: 2em;
    margin-right: em(8px);
    font-size: 150%;
    position: static;
  }

  .h5p-order-priority-footer {
    flex-direction: row;
  }
}

.h5p-large-tablet-size,
.h5p-large-size {
  .h5p-order-priority-select-list {
    margin-left: em(12px);
  }

  .h5p-order-prioritySurface {
    display: flex;
    flex-flow: row;
  }

  .h5p-order-priority-columns {
    padding: em(16px);
  }

}

.h5p-order-prioritySurface {
  clear: both;
}

.h5p-order-priority-wrapper {
  textarea,
  input,
  button {
    font: inherit;
  }
}

.h5p-order-priority-header {
  background-color: #2880d0;
  display: inline-flex;
  width: 100%;
  margin: 0;
  align-items: center;
  padding: em(21px);
  color: white;
  font-weight: normal;
  font-size: em(20px);
}

#resources-button {
  margin-left: auto;
}

.h5p-order-priority-surface-info {
  display: flex;
  align-items: flex-start;

  .h5p-resource-list-wrapper {
    margin-left: auto;
  }
}

.h5p-order-priority-resources-btn {
  @extend .h5p-order-priority-button;
  background-color: transparent;
  border: 1px solid $h5pColor1;
  color: $h5pColor1;
  float: right;
}

.h5p-order-priority-process {
  position: relative;
}

.h5p-order-priority-columns {
  padding: em(6px);
  flex: 1;
  border: 1px solid #dbdbdb;
  margin: em(10px) 0;
}

.h5p-order-priority-statement-common {
  padding: em(4px);
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.h5p-order-priority-dropzone {
  @extend .h5p-order-priority-columns;
  background-color: rgba(227, 227, 227, 0.25);
}

.h5p-droparea {
  @extend .h5p-order-priority-statement-common;
  border: 2px dashed #d1d1d1;
  background-color: white;
  min-height: em(60px);
  flex-flow: column;
  padding: em(4px);

  &:hover {
    div:not(.h5p-order-priority-empty),
    .h5p-order-priority-actionlist button {
      background-color: #edf4fd;
    }
    .h5p-order-priority-statement,
    .h5p-order-priority-statement-comment {
      border-color: #1a73d9;
    }

    .h5p-order-priority-statement-comment {
      border-top-color: #dbe2e8;
    }
  }

  .h5p-order-priority-drag-active &:not(.h5p-hasContent):hover,
  .h5p-order-priority-drag-active .h5p-order-priority-active-droppable &:not(.h5p-hasContent){
    border-color: #1a73d9;

    .h5p-order-priority-empty {
      background-color: #bbd1f0;
      box-shadow: inset 0 0 em(5px) em(1px) rgba(39,75,143,0.28);
    }
  }

  .h5p-order-priority-empty {
    flex: auto;
    background-color: #e6e6e6;
    background-size: cover;
    box-shadow: inset 0 0 em(5px) em(1px) rgba(0,0,0,0.1);
  }
}

.h5p-order-priority-statement {
  @extend .h5p-order-priority-statement-common;
  background-color: #ffffff;
  min-height: em(60px);
  border: 2px solid #dbe2e8;
  border-radius: $borderRadius;
  font-weight: bold;
  padding: 0;

  .h5p-order-priority-select-list &{
    box-shadow: em(3px) em(3px) em(4px) 0 rgba(3, 3, 3, 0.2);
  }

  &:hover,
  &:active,
  &.h5p-order-priority-active-draggable {
    border-color: #1a73d9;
    cursor: pointer;
    box-shadow: 0 0 em(3px) em(2px) rgba(26,115,217,0.2);
    div:not(.h5p-order-priority-actionlist) {
      background-color: #edf4fd;
    }
  }

  p,
  ul {
    margin: 0;
  }

  .h5p-order-priority-statement-prioritized {
    border-radius: $borderRadius 0 0 $borderRadius;
    width: 100%;
    padding: em(4px) 0;
    margin: em(4px) 0 em(4px) em(4px);
    background-color: #f6f8f9;
  }

  .h5p-order-priority-statement-remaining {
    border-radius: $borderRadius;
    width: 100%;
    padding: em(4px) 0;
    margin: em(4px);
    background-color: #f6f8f9;
  }

  &.h5p-order-priority-statement-extra {
    border-bottom: 0;
    border-radius: em(3px) em(3px) 0 0;

    .h5p-order-priority-statement-prioritized {
      margin-bottom: 0;
      border-radius: $borderRadius 0 0 0;
    }
    .h5p-order-priority-actionlist div {
      margin-bottom: 0;
      border-radius: 0 $borderRadius 0 0;
    }
  }

  & > div {
    display: flex;
    align-items: stretch;
    min-height: em(44px);
    flex: auto;
  }

  & .h5p-order-priority-element{
    display: flex;
    align-items: center;
  }

  .h5p-order-priority-actionlist {
    border-left: em(2px) solid #dbe2e8;

    & > div {
      display: flex;
      margin: em(4px) em(4px) em(4px) 0;
      border-radius: 0 $borderRadius $borderRadius 0;
      background-color: #f6f8f9;
      position: relative;
    }

    button {
      background-color: transparent;
      color: #424242;

      &:hover {
        background-color: #ffffff;
      }

      &:active {
        background-color: #dbe2e8;
      }
    }

    .h5p-ri {
      font-size: 150%;
    }
  }
}

.h5p-order-priority-statement-comment {
  @extend .h5p-order-priority-statement-common;
  border: 2px solid #dbe2e8;
  border-radius: 0 0 em(3px) em(3px);
  background-color: #ffffff;
  padding: 0;
  margin: 0;

  div {
    margin: 0 em(4px) em(4px) em(4px);
    background-color: #f6f8f9;
    flex: auto;
    border-radius: 0 0 $borderRadius $borderRadius;
    display: flex;
    align-items: center;
  }

  textarea {
    background-color: transparent;
    resize: none;
    border: 0;
    width: 100%;
    word-wrap: break-word;
    margin: 0.4em;
    padding: 0.2em 0.6em;
    overflow-y: hidden;
    font-size: inherit;
    height: auto;

    &:focus {
      background-color: #ffffff;
    }
  }

  .h5p-ri {
    font-size: 150%;
    padding: 0 em(7px);
  }
}

.h5p-order-priority-select-list {
  @extend .h5p-order-priority-columns;
  border: 0;
}

.h5p-order-priority-summary {

  display: flex;
  flex-flow: column;

  textarea {
    padding: em(10px);
    min-height: em(80px);
  }
}

.h5p-order-priority-description {
  flex-grow: 5;
  margin: 0 0.625rem 0.625rem 0;
}

.h5p-order-priority-summary-instruction {
  margin: 0 0 0.6rem 0;
}

.h5p-order-priority-action {
  background-color: white;
  border-color: transparent;
  padding: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 100ms, color 100ms;

  &.h5p-order-priority-action-active{
    background-color: black;
    color: white;
  }
}

.h5p-order-priority-popover {
  @extend .h5p-order-priority;
  z-index: 1;
  width: 85vw;
  overflow: visible !important;

  button {
    @extend .h5p-order-priority-button;
  }
}

.h5p-order-priority-popover-container {
  border-radius: em(4px);
  background-color: #ffffff;
  background-size: cover;
  box-shadow: em(5px) em(10px) em(22px) rgba(0,0,0,0.4);
  max-width: 95vw;

  .h5p-order-priority-popover-header {
    padding: em(14px);
    border-bottom: em(1px) solid #dbe2e8;
    display: flex;
    align-items: center;
    font-weight: bold;
  }

  .h5p-order-priority-popover-content {
    display: flex;
  }

  .close-button {
    background: white;
    color: black;
    margin-left: auto;
    padding: 0;
    font-size: 180%;
  }

  textarea {
    font-family: inherit;
    width: 100%;
    margin: em(14px);
    border-radius: em(4px);
    padding: em(5px);
  }
}

.h5p-order-priority-drag-element {
  border-right: em(1px) solid #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: em(13px);
  padding: 0 em(10px);
  color: #535c69;
}

.h5p-order-priority-number {

  align-items: center;
  display: flex;

  div {
    border-radius: 50%;
    height: 1.8em;
    width: 1.8em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cccccc;
    transition: background-color 200ms;
    font-style: italic;
    line-height: em(35px);
    box-shadow: em(3px) em(3px) em(4px) 0 rgba(3, 3, 3, 0.2);
    position: absolute;
    top: em(-5px);
    left: em(-5px);
    font-weight: bold;
  }
}

.h5p-order-priority-number-container {
  display: flex;
  flex-grow: 1;
}

.h5p-order-priority-draggable-container {
  display: flex;
  align-items: stretch;
  margin: em(8px) auto;
  position: relative;
}

.h5p-order-priority-draggable-element,
.h5p-order-priority-draggable-element > div {
  flex-grow: 1;
  display: flex;
}

.h5p-order-priority-number-1 div{
  background-color: $h5pNumberBaseColor;
  color: #ffffff;
}

.h5p-order-priority-number-2 div{
  background-color: lighten( $h5pNumberBaseColor, 25% );
  color: #1d5482;
}

.h5p-order-priority-number-3 div{
  background-color: lighten( $h5pNumberBaseColor, 40% );
  color: #1d5482;
}

.h5p-order-priority-add {
  border: 1px solid #dbe2e8;
  border-radius: $borderRadius;
  display: inline-block;
  text-align: center;
  padding: em(3px);
  background-color: #ffffff;

  &:hover {
    span {
      background-color: #ffffff;
    }
  }

  &:active {
    span {
      background-color: #ebf0ff;
    }
  }

  & > span {
    display: flex;
    border-radius: $borderRadius;
    background-color: rgba(219,226,232,0.25);
    color: #363636;
    font-weight: bold;
    font-size: 1em;
    padding: em(5px) em(10px);
  }

  .h5p-ri {
    margin-right: em(9px);
  }
}

.h5p-order-priority-editable-container {
  display: flex;
  flex: auto;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3em 0.6em;

  div {
    width: 100%;
  }

  input {
    min-height: 80%;
    flex: auto;
    font-size: inherit;
    width: 100%;
  }
}

.h5p-order-priority-footer {
  background-color: #1f1f1f;
  color: white;
  padding: em(20px);
  display: flex;
  flex-direction: column;

  & > button {
    background-color: transparent;
    margin: em(5px);
    font-weight: bold;
  }

  .h5p-ri {
    margin-right: em(7px);
  }
}

.h5p-ri {
  font-weight: normal;
}


.joubel-create-document {
  top: 0;
}

.export-container {
  button {
    float: right;
    cursor: pointer;
    padding: 0 1em !important;
    height: 100%;
    box-sizing: border-box;
    line-height: 3.5em;
    color: #555;
    font-family: Sans-Serif;
    font-size: 1em;
    background: none;
    border: 0;
    overflow: visible;
  }
}

.export-preview {
  .page-description {
    font-style: italic;
  }

  table {
    width: 100%;
    border: 1px solid rgba(0, 90, 255, 0.34);
  }
  table tr:nth-child(even){
    background-color: rgba(176, 200, 236, 0.34);
  }

  th {
    text-align: start;
    background-color: rgba(45, 119, 193, 0.34);
    border-collapse: collapse;
  }

  li {
    margin-left: em(5px);
  }
}

.hidden {
  display: none !important;
}

.h5p-order-priority-reset-modal {
  background-color: white;
  padding: 1rem;
  max-width: 85vw;
  display: inline-flex;
  flex-flow: column;

  div{
    padding: 0.8rem;
  }

  button {
    font-weight: 600;
    font-size: inherit;
  }

  .continue {
    @extend .h5p-order-priority-button;
    color: #fff;
    background-color: #1f1f1f;
    margin-right: 1rem;

    &:hover,
    &:focus,
    &:active {
      color: #fff;
    }

    &:focus {
      background-color: #000000;
    }
  }

  .cancel {
    border: 0;
    background-color: transparent;
    color: #2071e3;
  }
}

.h5p-order-priority-no-transform {
  transform: none !important;
}

.visible-hidden {
  clip: rect(em(1px), em(1px), em(1px), 1px);
  height: em(1px);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: em(1px);
}

.visible-hidden:focus {
  clip: auto;
  height: auto;
  overflow: auto;
  position: absolute;
  width: auto;
}
