@use "@styles/base/base_extendors";
@use "@styles/base/base_variables" as bv;

.h5p-order-priority-statement {
  @extend %h5p-order-priority-statement-common;
  background-color: #ffffff;
  border: 2px solid #dbe2e8;
  border-radius: bv.$borderRadius;
  font-weight: bold;
  padding: 0;

  .h5p-order-priority-select-list &{
    box-shadow: 0.25rem 0.25rem 0.25rem 0 rgba(3, 3, 3, 0.2);
  }

  &:hover,
  &:active,
  &.h5p-order-priority-active-draggable {
    border-color: #1a73d9;
    box-shadow: 0 0 0.25rem 0.125rem rgba(26,115,217,0.2);
    div:not(.h5p-order-priority-actionlist) {
      background-color: #edf4fd;
    }
  }

  .h5p-order-priority-statement-prioritized {
    display: flex;
    align-items: stretch;
    min-height: 2.75rem;
    flex: auto;
    border-radius: bv.$borderRadius 0 0 bv.$borderRadius;
    width: 100%;
    padding: 0.25rem 0;
    margin: 0.25rem 0 0.25rem 0.25rem;
    background-color: #f6f8f9;
  }

  .h5p-order-priority-statement-remaining {
    display: flex;
    align-items: stretch;
    min-height: 2.75rem;
    flex: auto;
    border-radius: bv.$borderRadius;
    width: 100%;
    padding: 0.25rem 0;
    margin: 0.25rem;
    background-color: #f6f8f9;
  }

  &.h5p-order-priority-statement-extra {
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    min-height: unset;

    .h5p-order-priority-statement-prioritized {
      margin-bottom: 0;
      border-radius: bv.$borderRadius 0 0 0;
    }

    .h5p-order-priority-comment > div {
      margin-bottom: 0;
      border-bottom-right-radius: 0;
    }
  }

  & .h5p-order-priority-element{
    display: flex;
    align-items: center;
  }

  .h5p-order-priority-comment {
    border-left: 0.125rem solid #dbe2e8;

    .h5p-order-priority-action {
      background-color: transparent;
      color: #424242;

      &:hover {
        background-color: #ffffff;
      }

      &:active {
        background-color: #dbe2e8;
      }
    }

    .h5p-ri {
      font-size: 150%;
    }
  }
}
