@use "@styles/base/base_extendors";
@use "@styles/base/base_variables" as bv;
@use "@styles/base/base_functions" as OPFunction;

.h5p-order-priority-statement-comment {
  @extend %h5p-order-priority-statement-common;
  border: 2px solid #dbe2e8;
  border-radius: 0 0 OPFunction.pxToRem(3px) OPFunction.pxToRem(3px);
  background-color: #ffffff;
  padding: 0;
  margin: 0;

  &.hidden {
    display: none;
  }

  div {
    margin: 0 OPFunction.pxToRem(4px) OPFunction.pxToRem(4px) OPFunction.pxToRem(4px);
    background-color: #f6f8f9;
    flex: auto;
    border-radius: 0 0 bv.$borderRadius bv.$borderRadius;
    display: flex;
    align-items: center;
  }

  textarea {
    background-color: transparent;
    resize: none;
    border: 0;
    width: 100%;
    word-wrap: break-word;
    margin: 0.4em;
    padding: 0.2em 0.6em;
    overflow-y: hidden;
    font-size: inherit;
    height: auto;

    &:focus {
      background-color: #ffffff;
    }
  }

  .h5p-ri {
    font-size: 150%;
    padding: 0 OPFunction.pxToRem(7px);
  }
}

.h5p-order-priority-action {
  background-color: white;
  border-color: transparent;
  padding: 0.5em;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 1.2em;
  transition: background-color 100ms, color 100ms;

  &.h5p-order-priority-action-active{
    background-color: black;
    color: white;
  }
}
